<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        homepage
      </h1>

    </header>

    <main>

    <h1>
      random records:  
    </h1>
      
        <div><strong>id1</strong>: <a href="/museum/<%=id1%>"><%=id1%></a></div>
        <div><strong>address1</strong>: <%=address1%></div>
        <div><strong>description1</strong>: <%=description1%></div>
        <div><strong>featurecount1</strong>: <%=featurecount1%></div>
        <div><strong>fee1</strong>: <%=fee1%></div>
        <div><strong>langtitude1</strong>: <%=langtitude1%></div>
        <div><strong>latitude1</strong>: <%=latitude1%></div>
        <div><strong>lengthofvisit1</strong>: <%=lengthofvisit1%></div>
        <div><strong>museumname1</strong>: <%=museumname1%></div>
        <div><strong>phonenum1</strong>: <%=phonenum1%></div>
        <div><strong>rank1</strong>: <%=rank1%></div>
        <div><strong>rating1</strong>: <%=rating1%></div>
        <div><strong>reviewcount1</strong>: <%=reviewcount1%></div>
        <div><strong>totalthingstodo1</strong>: <%=totalthingstodo1%></div>
        <div><strong>country1</strong>: <%=country1%></div>
        <div><strong>state1</strong>: <%=state1%></div>
        <div><strong>rankpercentage1</strong>: <%=rankpercentage1%></div>
        <div><strong>ancient_ruins1</strong>: <%=ancient_ruins1%></div>
        <div><strong>architectural_buildings1</strong>: <%=architectural_buildings1%></div>
        <div><strong>arenas_stadiums1</strong>: <%=arenas_stadiums1%></div>
        <div><strong>art_galleries1</strong>: <%=art_galleries1%></div>
        <div><strong>art_museums1</strong>: <%=art_museums1%></div>
        <div><strong>auto_race_tracks1</strong>: <%=auto_race_tracks1%></div>
        <div><strong>ballets1</strong>: <%=ballets1%></div>
        <div><strong>battlefields1</strong>: <%=battlefields1%></div>
        <div><strong>biking_trails1</strong>: <%=biking_trails1%></div>
        <div><strong>bodies_of_water1</strong>: <%=bodies_of_water1%></div>
        <div><strong>bridges1</strong>: <%=bridges1%></div>
        <div><strong>castles1</strong>: <%=castles1%></div>
        <div><strong>cemeteries1</strong>: <%=cemeteries1%></div>
        <div><strong>childrens_museums1</strong>: <%=childrens_museums1%></div>
        <div><strong>city_tours1</strong>: <%=city_tours1%></div>
        <div><strong>classes_workshops1</strong>: <%=classes_workshops1%></div>
        <div><strong>coffeehouses1</strong>: <%=coffeehouses1%></div>
        <div><strong>concerts_shows1</strong>: <%=concerts_shows1%></div>
        <div><strong>cultural_tours1</strong>: <%=cultural_tours1%></div>
        <div><strong>educational_sites1</strong>: <%=educational_sites1%></div>
        <div><strong>factory_tours1</strong>: <%=factory_tours1%></div>
        <div><strong>flea_street_markets1</strong>: <%=flea_street_markets1%></div>
        <div><strong>food_drink1</strong>: <%=food_drink1%></div>
        <div><strong>fun_games1</strong>: <%=fun_games1%></div>
        <div><strong>gardens1</strong>: <%=gardens1%></div>
        <div><strong>geologic_formations1</strong>: <%=geologic_formations1%></div>
        <div><strong>gift_specialty_shops1</strong>: <%=gift_specialty_shops1%></div>
        <div><strong>government_buildings1</strong>: <%=government_buildings1%></div>
        <div><strong>historic_sites1</strong>: <%=historic_sites1%></div>
        <div><strong>historic_walking_areas1</strong>: <%=historic_walking_areas1%></div>
        <div><strong>historical_heritage_tours1</strong>: <%=historical_heritage_tours1%></div>
        <div><strong>history_museums1</strong>: <%=history_museums1%></div>
        <div><strong>islands1</strong>: <%=islands1%></div>
        <div><strong>lessons_workshops1</strong>: <%=lessons_workshops1%></div>
        <div><strong>libraries1</strong>: <%=libraries1%></div>
        <div><strong>lighthouses1</strong>: <%=lighthouses1%></div>
        <div><strong>literary_art_music_tours1</strong>: <%=literary_art_music_tours1%></div>
        <div><strong>lookouts1</strong>: <%=lookouts1%></div>
        <div><strong>military_bases_facilities1</strong>: <%=military_bases_facilities1%></div>
        <div><strong>military_museums1</strong>: <%=military_museums1%></div>
        <div><strong>mines1</strong>: <%=mines1%></div>
        <div><strong>monuments_statues1</strong>: <%=monuments_statues1%></div>
        <div><strong>movie_theaters1</strong>: <%=movie_theaters1%></div>
        <div><strong>museums1</strong>: <%=museums1%></div>
        <div><strong>national_parks1</strong>: <%=national_parks1%></div>
        <div><strong>natural_history_museums1</strong>: <%=natural_history_museums1%></div>
        <div><strong>nature_parks1</strong>: <%=nature_parks1%></div>
        <div><strong>nature_wildlife_areas1</strong>: <%=nature_wildlife_areas1%></div>
        <div><strong>neighborhoods1</strong>: <%=neighborhoods1%></div>
        <div><strong>night_tours1</strong>: <%=night_tours1%></div>
        <div><strong>nightlife1</strong>: <%=nightlife1%></div>
        <div><strong>observation_decks_towers1</strong>: <%=observation_decks_towers1%></div>
        <div><strong>observatories_planetariums1</strong>: <%=observatories_planetariums1%></div>
        <div><strong>other_fun_games1</strong>: <%=other_fun_games1%></div>
        <div><strong>other_outdoor_activities1</strong>: <%=other_outdoor_activities1%></div>
        <div><strong>outdoor_activities1</strong>: <%=outdoor_activities1%></div>
        <div><strong>piers_boardwalks1</strong>: <%=piers_boardwalks1%></div>
        <div><strong>playgrounds1</strong>: <%=playgrounds1%></div>
        <div><strong>points_of_interest_landmarks1</strong>: <%=points_of_interest_landmarks1%></div>
        <div><strong>private_tours1</strong>: <%=private_tours1%></div>
        <div><strong>sacred_religious_sites1</strong>: <%=sacred_religious_sites1%></div>
        <div><strong>scenic_railroads1</strong>: <%=scenic_railroads1%></div>
        <div><strong>scenic_walking_areas1</strong>: <%=scenic_walking_areas1%></div>
        <div><strong>science_museums1</strong>: <%=science_museums1%></div>
        <div><strong>selfguided_tours_rentals1</strong>: <%=selfguided_tours_rentals1%></div>
        <div><strong>ships1</strong>: <%=ships1%></div>
        <div><strong>shopping1</strong>: <%=shopping1%></div>
        <div><strong>sights_landmarks1</strong>: <%=sights_landmarks1%></div>
        <div><strong>specialty_museums1</strong>: <%=specialty_museums1%></div>
        <div><strong>sports_complexes1</strong>: <%=sports_complexes1%></div>
        <div><strong>state_parks1</strong>: <%=state_parks1%></div>
        <div><strong>theaters1</strong>: <%=theaters1%></div>
        <div><strong>tours1</strong>: <%=tours1%></div>
        <div><strong>tramways1</strong>: <%=tramways1%></div>
        <div><strong>transportation1</strong>: <%=transportation1%></div>
        <div><strong>traveler_resources1</strong>: <%=traveler_resources1%></div>
        <div><strong>valleys1</strong>: <%=valleys1%></div>
        <div><strong>visitor_centers1</strong>: <%=visitor_centers1%></div>
        <div><strong>volcanos1</strong>: <%=volcanos1%></div>
        <div><strong>walking_tours1</strong>: <%=walking_tours1%></div>
        <div><strong>wineries_vineyards1</strong>: <%=wineries_vineyards1%></div>
        <div><strong>zipline_aerial_adventure_parks1</strong>: <%=zipline_aerial_adventure_parks1%></div>
        <div><strong>zoos_aquariums1</strong>: <%=zoos_aquariums1%></div>
        <div><strong>on_display1</strong>: <%=on_display1%></div>
        <div><strong>gift_shop1</strong>: <%=gift_shop1%></div>
        <div><strong>rainy_day1</strong>: <%=rainy_day1%></div>
        <div><strong>couple_of_hours1</strong>: <%=couple_of_hours1%></div>
        <div><strong>all_ages1</strong>: <%=all_ages1%></div>
        <div><strong>special_exhibits1</strong>: <%=special_exhibits1%></div>
        <div><strong>few_hours1</strong>: <%=few_hours1%></div>
        <div><strong>two_hours1</strong>: <%=two_hours1%></div>
        <div><strong>exhibits1</strong>: <%=exhibits1%></div>
        <div><strong>well_worth_a_visit1</strong>: <%=well_worth_a_visit1%></div>
        <div><strong>permanent_collection1</strong>: <%=permanent_collection1%></div>
        <div><strong>worth_a_visit1</strong>: <%=worth_a_visit1%></div>
        <div><strong>free_admission1</strong>: <%=free_admission1%></div>
        <div><strong>audio_guide1</strong>: <%=audio_guide1%></div>
        <div><strong>beautiful_building1</strong>: <%=beautiful_building1%></div>
        <div><strong>great_collection1</strong>: <%=great_collection1%></div>
        <div><strong>information1</strong>: <%=information1%></div>
        <div><strong>interesting_exhibits1</strong>: <%=interesting_exhibits1%></div>
        <div><strong>entrance_fee1</strong>: <%=entrance_fee1%></div>
        <div><strong>great_for_kids1</strong>: <%=great_for_kids1%></div>
        <div><strong>interactive_exhibits1</strong>: <%=interactive_exhibits1%></div>
        <div><strong>hands_on_activities1</strong>: <%=hands_on_activities1%></div>
        <div><strong>great_exhibits1</strong>: <%=great_exhibits1%></div>
        <div><strong>great_place_to_visit1</strong>: <%=great_place_to_visit1%></div>
        <div><strong>interactive_displays1</strong>: <%=interactive_displays1%></div>
        <div><strong>guided_tour1</strong>: <%=guided_tour1%></div>
        <div><strong>well_worth_the_visit1</strong>: <%=well_worth_the_visit1%></div>
        <div><strong>whole_family1</strong>: <%=whole_family1%></div>
        <div><strong>kids_and_adults1</strong>: <%=kids_and_adults1%></div>
        <div><strong>traveling_exhibits1</strong>: <%=traveling_exhibits1%></div>
        <div><strong>his_life1</strong>: <%=his_life1%></div>
        <div><strong>local_history1</strong>: <%=local_history1%></div>
        <div><strong>amazing_collection1</strong>: <%=amazing_collection1%></div>
        <div><strong>free_entry1</strong>: <%=free_entry1%></div>
        <div><strong>worth_the_trip1</strong>: <%=worth_the_trip1%></div>
        <div><strong>great_history1</strong>: <%=great_history1%></div>
        <div><strong>civil_war1</strong>: <%=civil_war1%></div>
        <div><strong>take_your_time1</strong>: <%=take_your_time1%></div>
        <div><strong>nice_collection1</strong>: <%=nice_collection1%></div>
        <div><strong>interesting_place1</strong>: <%=interesting_place1%></div>
        <div><strong>great_museum1</strong>: <%=great_museum1%></div>
        <div><strong>for_sale1</strong>: <%=for_sale1%></div>
        <div><strong>art_lovers1</strong>: <%=art_lovers1%></div>
        <div><strong>artifacts1</strong>: <%=artifacts1%></div>
        <div><strong>van_gogh1</strong>: <%=van_gogh1%></div>
        <div><strong>audio_tour1</strong>: <%=audio_tour1%></div>
        <div><strong>history1</strong>: <%=history1%></div>
        <div><strong>galleries1</strong>: <%=galleries1%></div>
        <div><strong>works_of_art1</strong>: <%=works_of_art1%></div>
        <div><strong>natural_history1</strong>: <%=natural_history1%></div>
        <div><strong>self_guided_tour1</strong>: <%=self_guided_tour1%></div>
        <div><strong>private_collection1</strong>: <%=private_collection1%></div>
        <div><strong>own_pace1</strong>: <%=own_pace1%></div>
        <div><strong>sculpture_garden1</strong>: <%=sculpture_garden1%></div>
        <div><strong>moving_experience1</strong>: <%=moving_experience1%></div>
        <div><strong>three_hours1</strong>: <%=three_hours1%></div>
        <div><strong>lots_of_history1</strong>: <%=lots_of_history1%></div>
        <div><strong>modern_art1</strong>: <%=modern_art1%></div>
        <div><strong>history_buff1</strong>: <%=history_buff1%></div>
        <div><strong>admission1</strong>: <%=admission1%></div>
        <div><strong>small_museum1</strong>: <%=small_museum1%></div>
        <div><strong>step_back_in_time1</strong>: <%=step_back_in_time1%></div>
        <div><strong>worth_a_stop1</strong>: <%=worth_a_stop1%></div>
        <div><strong>short_film1</strong>: <%=short_film1%></div>
        <div><strong>stuffed_animals1</strong>: <%=stuffed_animals1%></div>
        <div><strong>walk_around1</strong>: <%=walk_around1%></div>
        <div><strong>entry_fee1</strong>: <%=entry_fee1%></div>
        <div><strong>great_displays1</strong>: <%=great_displays1%></div>
        <div><strong>world_war1</strong>: <%=world_war1%></div>
        <div><strong>scavenger_hunt1</strong>: <%=scavenger_hunt1%></div>
        <div><strong>across_the_street1</strong>: <%=across_the_street1%></div>
        <div><strong>museums21</strong>: <%=museums21%></div>
        <div><strong>top_floor1</strong>: <%=top_floor1%></div>
        <div><strong>a_lot_of_fun1</strong>: <%=a_lot_of_fun1%></div>
        <div><strong>history_lesson1</strong>: <%=history_lesson1%></div>
        <div><strong>large_collection1</strong>: <%=large_collection1%></div>
        <div><strong>eye_opening1</strong>: <%=eye_opening1%></div>
        <div><strong>american_history1</strong>: <%=american_history1%></div>
        <div><strong>interesting_artifacts1</strong>: <%=interesting_artifacts1%></div>
        <div><strong>early_days1</strong>: <%=early_days1%></div>
        <div><strong>rotating_exhibits1</strong>: <%=rotating_exhibits1%></div>
        <div><strong>extensive_collection1</strong>: <%=extensive_collection1%></div>
        <div><strong>three_floors1</strong>: <%=three_floors1%></div>
        <div><strong>we_spent_hours1</strong>: <%=we_spent_hours1%></div>
        <div><strong>displays1</strong>: <%=displays1%></div>
        <div><strong>changing_exhibits1</strong>: <%=changing_exhibits1%></div>
        <div><strong>second_floor1</strong>: <%=second_floor1%></div>
        <div><strong>collection1</strong>: <%=collection1%></div>
        <div><strong>old_masters1</strong>: <%=old_masters1%></div>
        <div><strong>great_place_to_learn1</strong>: <%=great_place_to_learn1%></div>
        <div><strong>learn_something1</strong>: <%=learn_something1%></div>
        <div><strong>special_exhibitions1</strong>: <%=special_exhibitions1%></div>
        <div><strong>suggested_donation1</strong>: <%=suggested_donation1%></div>
        <div><strong>old_west1</strong>: <%=old_west1%></div>
        <div><strong>chronological_order1</strong>: <%=chronological_order1%></div>
        <div><strong>enjoyed_our_visit1</strong>: <%=enjoyed_our_visit1%></div>
        <div><strong>take_pictures1</strong>: <%=take_pictures1%></div>
        <div><strong>third_floor1</strong>: <%=third_floor1%></div>
        <div><strong>the_lower_level1</strong>: <%=the_lower_level1%></div>
        <div><strong>life_size1</strong>: <%=life_size1%></div>
        <div><strong>families_count1</strong>: <%=families_count1%></div>
        <div><strong>couples_count1</strong>: <%=couples_count1%></div>
        <div><strong>solo_count1</strong>: <%=solo_count1%></div>
        <div><strong>business_count1</strong>: <%=business_count1%></div>
        <div><strong>friends_count1</strong>: <%=friends_count1%></div>
        <div><strong>preciserating1</strong>: <%=preciserating1%></div>
        <div><strong>quote_pol_var1</strong>: <%=quote_pol_var1%></div>
        <div><strong>quote_pol_mean1</strong>: <%=quote_pol_mean1%></div>
        <div><strong>quote_pol_max1</strong>: <%=quote_pol_max1%></div>
        <div><strong>quote_pol_min1</strong>: <%=quote_pol_min1%></div>
        <div><strong>quote_sub_var1</strong>: <%=quote_sub_var1%></div>
        <div><strong>quote_sub_mean1</strong>: <%=quote_sub_mean1%></div>
        <div><strong>quote_sub_max1</strong>: <%=quote_sub_max1%></div>
        <div><strong>quote_sub_min1</strong>: <%=quote_sub_min1%></div>
        <div><strong>review_pol_var1</strong>: <%=review_pol_var1%></div>
        <div><strong>review_pol_mean1</strong>: <%=review_pol_mean1%></div>
        <div><strong>review_pol_max1</strong>: <%=review_pol_max1%></div>
        <div><strong>review_pol_min1</strong>: <%=review_pol_min1%></div>
        <div><strong>review_sub_var1</strong>: <%=review_sub_var1%></div>
        <div><strong>review_sub_mean1</strong>: <%=review_sub_mean1%></div>
        <div><strong>review_sub_max1</strong>: <%=review_sub_max1%></div>
        <div><strong>review_sub_min1</strong>: <%=review_sub_min1%></div>
        <div><strong>descri_pol1</strong>: <%=descri_pol1%></div>
        <div><strong>descri_sub1</strong>: <%=descri_sub1%></div>
        <div><strong>reviews1</strong>: <%=reviews1%></div>





        <div><strong>id2</strong>: <%=id2%></div>
        <div><strong>address2</strong>: <%=address2%></div>
        <div><strong>description2</strong>: <%=description2%></div>
        <div><strong>featurecount2</strong>: <%=featurecount2%></div>
        <div><strong>fee2</strong>: <%=fee2%></div>
        <div><strong>langtitude2</strong>: <%=langtitude2%></div>
        <div><strong>latitude2</strong>: <%=latitude2%></div>
        <div><strong>lengthofvisit2</strong>: <%=lengthofvisit2%></div>
        <div><strong>museumname2</strong>: <%=museumname2%></div>
        <div><strong>phonenum2</strong>: <%=phonenum2%></div>
        <div><strong>rank2</strong>: <%=rank2%></div>
        <div><strong>rating2</strong>: <%=rating2%></div>
        <div><strong>reviewcount2</strong>: <%=reviewcount2%></div>
        <div><strong>totalthingstodo2</strong>: <%=totalthingstodo2%></div>
        <div><strong>country2</strong>: <%=country2%></div>
        <div><strong>state2</strong>: <%=state2%></div>
        <div><strong>rankpercentage2</strong>: <%=rankpercentage2%></div>
        <div><strong>ancient_ruins2</strong>: <%=ancient_ruins2%></div>
        <div><strong>architectural_buildings2</strong>: <%=architectural_buildings2%></div>
        <div><strong>arenas_stadiums2</strong>: <%=arenas_stadiums2%></div>
        <div><strong>art_galleries2</strong>: <%=art_galleries2%></div>
        <div><strong>art_museums2</strong>: <%=art_museums2%></div>
        <div><strong>auto_race_tracks2</strong>: <%=auto_race_tracks2%></div>
        <div><strong>ballets2</strong>: <%=ballets2%></div>
        <div><strong>battlefields2</strong>: <%=battlefields2%></div>
        <div><strong>biking_trails2</strong>: <%=biking_trails2%></div>
        <div><strong>bodies_of_water2</strong>: <%=bodies_of_water2%></div>
        <div><strong>bridges2</strong>: <%=bridges2%></div>
        <div><strong>castles2</strong>: <%=castles2%></div>
        <div><strong>cemeteries2</strong>: <%=cemeteries2%></div>
        <div><strong>childrens_museums2</strong>: <%=childrens_museums2%></div>
        <div><strong>city_tours2</strong>: <%=city_tours2%></div>
        <div><strong>classes_workshops2</strong>: <%=classes_workshops2%></div>
        <div><strong>coffeehouses2</strong>: <%=coffeehouses2%></div>
        <div><strong>concerts_shows2</strong>: <%=concerts_shows2%></div>
        <div><strong>cultural_tours2</strong>: <%=cultural_tours2%></div>
        <div><strong>educational_sites2</strong>: <%=educational_sites2%></div>
        <div><strong>factory_tours2</strong>: <%=factory_tours2%></div>
        <div><strong>flea_street_markets2</strong>: <%=flea_street_markets2%></div>
        <div><strong>food_drink2</strong>: <%=food_drink2%></div>
        <div><strong>fun_games2</strong>: <%=fun_games2%></div>
        <div><strong>gardens2</strong>: <%=gardens2%></div>
        <div><strong>geologic_formations2</strong>: <%=geologic_formations2%></div>
        <div><strong>gift_specialty_shops2</strong>: <%=gift_specialty_shops2%></div>
        <div><strong>government_buildings2</strong>: <%=government_buildings2%></div>
        <div><strong>historic_sites2</strong>: <%=historic_sites2%></div>
        <div><strong>historic_walking_areas2</strong>: <%=historic_walking_areas2%></div>
        <div><strong>historical_heritage_tours2</strong>: <%=historical_heritage_tours2%></div>
        <div><strong>history_museums2</strong>: <%=history_museums2%></div>
        <div><strong>islands2</strong>: <%=islands2%></div>
        <div><strong>lessons_workshops2</strong>: <%=lessons_workshops2%></div>
        <div><strong>libraries2</strong>: <%=libraries2%></div>
        <div><strong>lighthouses2</strong>: <%=lighthouses2%></div>
        <div><strong>literary_art_music_tours2</strong>: <%=literary_art_music_tours2%></div>
        <div><strong>lookouts2</strong>: <%=lookouts2%></div>
        <div><strong>military_bases_facilities2</strong>: <%=military_bases_facilities2%></div>
        <div><strong>military_museums2</strong>: <%=military_museums2%></div>
        <div><strong>mines2</strong>: <%=mines2%></div>
        <div><strong>monuments_statues2</strong>: <%=monuments_statues2%></div>
        <div><strong>movie_theaters2</strong>: <%=movie_theaters2%></div>
        <div><strong>museums2</strong>: <%=museums2%></div>
        <div><strong>national_parks2</strong>: <%=national_parks2%></div>
        <div><strong>natural_history_museums2</strong>: <%=natural_history_museums2%></div>
        <div><strong>nature_parks2</strong>: <%=nature_parks2%></div>
        <div><strong>nature_wildlife_areas2</strong>: <%=nature_wildlife_areas2%></div>
        <div><strong>neighborhoods2</strong>: <%=neighborhoods2%></div>
        <div><strong>night_tours2</strong>: <%=night_tours2%></div>
        <div><strong>nightlife2</strong>: <%=nightlife2%></div>
        <div><strong>observation_decks_towers2</strong>: <%=observation_decks_towers2%></div>
        <div><strong>observatories_planetariums2</strong>: <%=observatories_planetariums2%></div>
        <div><strong>other_fun_games2</strong>: <%=other_fun_games2%></div>
        <div><strong>other_outdoor_activities2</strong>: <%=other_outdoor_activities2%></div>
        <div><strong>outdoor_activities2</strong>: <%=outdoor_activities2%></div>
        <div><strong>piers_boardwalks2</strong>: <%=piers_boardwalks2%></div>
        <div><strong>playgrounds2</strong>: <%=playgrounds2%></div>
        <div><strong>points_of_interest_landmarks2</strong>: <%=points_of_interest_landmarks2%></div>
        <div><strong>private_tours2</strong>: <%=private_tours2%></div>
        <div><strong>sacred_religious_sites2</strong>: <%=sacred_religious_sites2%></div>
        <div><strong>scenic_railroads2</strong>: <%=scenic_railroads2%></div>
        <div><strong>scenic_walking_areas2</strong>: <%=scenic_walking_areas2%></div>
        <div><strong>science_museums2</strong>: <%=science_museums2%></div>
        <div><strong>selfguided_tours_rentals2</strong>: <%=selfguided_tours_rentals2%></div>
        <div><strong>ships2</strong>: <%=ships2%></div>
        <div><strong>shopping2</strong>: <%=shopping2%></div>
        <div><strong>sights_landmarks2</strong>: <%=sights_landmarks2%></div>
        <div><strong>specialty_museums2</strong>: <%=specialty_museums2%></div>
        <div><strong>sports_complexes2</strong>: <%=sports_complexes2%></div>
        <div><strong>state_parks2</strong>: <%=state_parks2%></div>
        <div><strong>theaters2</strong>: <%=theaters2%></div>
        <div><strong>tours2</strong>: <%=tours2%></div>
        <div><strong>tramways2</strong>: <%=tramways2%></div>
        <div><strong>transportation2</strong>: <%=transportation2%></div>
        <div><strong>traveler_resources2</strong>: <%=traveler_resources2%></div>
        <div><strong>valleys2</strong>: <%=valleys2%></div>
        <div><strong>visitor_centers2</strong>: <%=visitor_centers2%></div>
        <div><strong>volcanos2</strong>: <%=volcanos2%></div>
        <div><strong>walking_tours2</strong>: <%=walking_tours2%></div>
        <div><strong>wineries_vineyards2</strong>: <%=wineries_vineyards2%></div>
        <div><strong>zipline_aerial_adventure_parks2</strong>: <%=zipline_aerial_adventure_parks2%></div>
        <div><strong>zoos_aquariums2</strong>: <%=zoos_aquariums2%></div>
        <div><strong>on_display2</strong>: <%=on_display2%></div>
        <div><strong>gift_shop2</strong>: <%=gift_shop2%></div>
        <div><strong>rainy_day2</strong>: <%=rainy_day2%></div>
        <div><strong>couple_of_hours2</strong>: <%=couple_of_hours2%></div>
        <div><strong>all_ages2</strong>: <%=all_ages2%></div>
        <div><strong>special_exhibits2</strong>: <%=special_exhibits2%></div>
        <div><strong>few_hours2</strong>: <%=few_hours2%></div>
        <div><strong>two_hours2</strong>: <%=two_hours2%></div>
        <div><strong>exhibits2</strong>: <%=exhibits2%></div>
        <div><strong>well_worth_a_visit2</strong>: <%=well_worth_a_visit2%></div>
        <div><strong>permanent_collection2</strong>: <%=permanent_collection2%></div>
        <div><strong>worth_a_visit2</strong>: <%=worth_a_visit2%></div>
        <div><strong>free_admission2</strong>: <%=free_admission2%></div>
        <div><strong>audio_guide2</strong>: <%=audio_guide2%></div>
        <div><strong>beautiful_building2</strong>: <%=beautiful_building2%></div>
        <div><strong>great_collection2</strong>: <%=great_collection2%></div>
        <div><strong>information2</strong>: <%=information2%></div>
        <div><strong>interesting_exhibits2</strong>: <%=interesting_exhibits2%></div>
        <div><strong>entrance_fee2</strong>: <%=entrance_fee2%></div>
        <div><strong>great_for_kids2</strong>: <%=great_for_kids2%></div>
        <div><strong>interactive_exhibits2</strong>: <%=interactive_exhibits2%></div>
        <div><strong>hands_on_activities2</strong>: <%=hands_on_activities2%></div>
        <div><strong>great_exhibits2</strong>: <%=great_exhibits2%></div>
        <div><strong>great_place_to_visit2</strong>: <%=great_place_to_visit2%></div>
        <div><strong>interactive_displays2</strong>: <%=interactive_displays2%></div>
        <div><strong>guided_tour2</strong>: <%=guided_tour2%></div>
        <div><strong>well_worth_the_visit2</strong>: <%=well_worth_the_visit2%></div>
        <div><strong>whole_family2</strong>: <%=whole_family2%></div>
        <div><strong>kids_and_adults2</strong>: <%=kids_and_adults2%></div>
        <div><strong>traveling_exhibits2</strong>: <%=traveling_exhibits2%></div>
        <div><strong>his_life2</strong>: <%=his_life2%></div>
        <div><strong>local_history2</strong>: <%=local_history2%></div>
        <div><strong>amazing_collection2</strong>: <%=amazing_collection2%></div>
        <div><strong>free_entry2</strong>: <%=free_entry2%></div>
        <div><strong>worth_the_trip2</strong>: <%=worth_the_trip2%></div>
        <div><strong>great_history2</strong>: <%=great_history2%></div>
        <div><strong>civil_war2</strong>: <%=civil_war2%></div>
        <div><strong>take_your_time2</strong>: <%=take_your_time2%></div>
        <div><strong>nice_collection2</strong>: <%=nice_collection2%></div>
        <div><strong>interesting_place2</strong>: <%=interesting_place2%></div>
        <div><strong>great_museum2</strong>: <%=great_museum2%></div>
        <div><strong>for_sale2</strong>: <%=for_sale2%></div>
        <div><strong>art_lovers2</strong>: <%=art_lovers2%></div>
        <div><strong>artifacts2</strong>: <%=artifacts2%></div>
        <div><strong>van_gogh2</strong>: <%=van_gogh2%></div>
        <div><strong>audio_tour2</strong>: <%=audio_tour2%></div>
        <div><strong>history2</strong>: <%=history2%></div>
        <div><strong>galleries2</strong>: <%=galleries2%></div>
        <div><strong>works_of_art2</strong>: <%=works_of_art2%></div>
        <div><strong>natural_history2</strong>: <%=natural_history2%></div>
        <div><strong>self_guided_tour2</strong>: <%=self_guided_tour2%></div>
        <div><strong>private_collection2</strong>: <%=private_collection2%></div>
        <div><strong>own_pace2</strong>: <%=own_pace2%></div>
        <div><strong>sculpture_garden2</strong>: <%=sculpture_garden2%></div>
        <div><strong>moving_experience2</strong>: <%=moving_experience2%></div>
        <div><strong>three_hours2</strong>: <%=three_hours2%></div>
        <div><strong>lots_of_history2</strong>: <%=lots_of_history2%></div>
        <div><strong>modern_art2</strong>: <%=modern_art2%></div>
        <div><strong>history_buff2</strong>: <%=history_buff2%></div>
        <div><strong>admission2</strong>: <%=admission2%></div>
        <div><strong>small_museum2</strong>: <%=small_museum2%></div>
        <div><strong>step_back_in_time2</strong>: <%=step_back_in_time2%></div>
        <div><strong>worth_a_stop2</strong>: <%=worth_a_stop2%></div>
        <div><strong>short_film2</strong>: <%=short_film2%></div>
        <div><strong>stuffed_animals2</strong>: <%=stuffed_animals2%></div>
        <div><strong>walk_around2</strong>: <%=walk_around2%></div>
        <div><strong>entry_fee2</strong>: <%=entry_fee2%></div>
        <div><strong>great_displays2</strong>: <%=great_displays2%></div>
        <div><strong>world_war2</strong>: <%=world_war2%></div>
        <div><strong>scavenger_hunt2</strong>: <%=scavenger_hunt2%></div>
        <div><strong>across_the_street2</strong>: <%=across_the_street2%></div>
        <div><strong>museums22</strong>: <%=museums22%></div>
        <div><strong>top_floor2</strong>: <%=top_floor2%></div>
        <div><strong>a_lot_of_fun2</strong>: <%=a_lot_of_fun2%></div>
        <div><strong>history_lesson2</strong>: <%=history_lesson2%></div>
        <div><strong>large_collection2</strong>: <%=large_collection2%></div>
        <div><strong>eye_opening2</strong>: <%=eye_opening2%></div>
        <div><strong>american_history2</strong>: <%=american_history2%></div>
        <div><strong>interesting_artifacts2</strong>: <%=interesting_artifacts2%></div>
        <div><strong>early_days2</strong>: <%=early_days2%></div>
        <div><strong>rotating_exhibits2</strong>: <%=rotating_exhibits2%></div>
        <div><strong>extensive_collection2</strong>: <%=extensive_collection2%></div>
        <div><strong>three_floors2</strong>: <%=three_floors2%></div>
        <div><strong>we_spent_hours2</strong>: <%=we_spent_hours2%></div>
        <div><strong>displays2</strong>: <%=displays2%></div>
        <div><strong>changing_exhibits2</strong>: <%=changing_exhibits2%></div>
        <div><strong>second_floor2</strong>: <%=second_floor2%></div>
        <div><strong>collection2</strong>: <%=collection2%></div>
        <div><strong>old_masters2</strong>: <%=old_masters2%></div>
        <div><strong>great_place_to_learn2</strong>: <%=great_place_to_learn2%></div>
        <div><strong>learn_something2</strong>: <%=learn_something2%></div>
        <div><strong>special_exhibitions2</strong>: <%=special_exhibitions2%></div>
        <div><strong>suggested_donation2</strong>: <%=suggested_donation2%></div>
        <div><strong>old_west2</strong>: <%=old_west2%></div>
        <div><strong>chronological_order2</strong>: <%=chronological_order2%></div>
        <div><strong>enjoyed_our_visit2</strong>: <%=enjoyed_our_visit2%></div>
        <div><strong>take_pictures2</strong>: <%=take_pictures2%></div>
        <div><strong>third_floor2</strong>: <%=third_floor2%></div>
        <div><strong>the_lower_level2</strong>: <%=the_lower_level2%></div>
        <div><strong>life_size2</strong>: <%=life_size2%></div>
        <div><strong>families_count2</strong>: <%=families_count2%></div>
        <div><strong>couples_count2</strong>: <%=couples_count2%></div>
        <div><strong>solo_count2</strong>: <%=solo_count2%></div>
        <div><strong>business_count2</strong>: <%=business_count2%></div>
        <div><strong>friends_count2</strong>: <%=friends_count2%></div>
        <div><strong>preciserating2</strong>: <%=preciserating2%></div>
        <div><strong>quote_pol_var2</strong>: <%=quote_pol_var2%></div>
        <div><strong>quote_pol_mean2</strong>: <%=quote_pol_mean2%></div>
        <div><strong>quote_pol_max2</strong>: <%=quote_pol_max2%></div>
        <div><strong>quote_pol_min2</strong>: <%=quote_pol_min2%></div>
        <div><strong>quote_sub_var2</strong>: <%=quote_sub_var2%></div>
        <div><strong>quote_sub_mean2</strong>: <%=quote_sub_mean2%></div>
        <div><strong>quote_sub_max2</strong>: <%=quote_sub_max2%></div>
        <div><strong>quote_sub_min2</strong>: <%=quote_sub_min2%></div>
        <div><strong>review_pol_var2</strong>: <%=review_pol_var2%></div>
        <div><strong>review_pol_mean2</strong>: <%=review_pol_mean2%></div>
        <div><strong>review_pol_max2</strong>: <%=review_pol_max2%></div>
        <div><strong>review_pol_min2</strong>: <%=review_pol_min2%></div>
        <div><strong>review_sub_var2</strong>: <%=review_sub_var2%></div>
        <div><strong>review_sub_mean2</strong>: <%=review_sub_mean2%></div>
        <div><strong>review_sub_max2</strong>: <%=review_sub_max2%></div>
        <div><strong>review_sub_min2</strong>: <%=review_sub_min2%></div>
        <div><strong>descri_pol2</strong>: <%=descri_pol2%></div>
        <div><strong>descri_sub2</strong>: <%=descri_sub2%></div>
        <div><strong>reviews2</strong>: <%=reviews2%></div>      
      
      
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
