<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        museum page
      </h1>
    </header>

    <main>
      <a href="<%=referer%>">Back to search results</a>
<div><strong>id</strong>: <%=id%></div>
<div><strong>address</strong>: <%=address%></div>
<div><strong>description</strong>: <%=description%></div>
<div><strong>featurecount</strong>: <%=featurecount%></div>
<div><strong>fee</strong>: <%=fee%></div>
<div><strong>langtitude</strong>: <%=langtitude%></div>
<div><strong>latitude</strong>: <%=latitude%></div>
<div><strong>lengthofvisit</strong>: <%=lengthofvisit%></div>
<div><strong>museumname</strong>: <%=museumname%></div>
<div><strong>phonenum</strong>: <%=phonenum%></div>
<div><strong>rank</strong>: <%=rank%></div>
<div><strong>rating</strong>: <%=rating%></div>
<div><strong>reviewcount</strong>: <%=reviewcount%></div>
<div><strong>totalthingstodo</strong>: <%=totalthingstodo%></div>
<div><strong>country</strong>: <%=country%></div>
<div><strong>state</strong>: <%=state%></div>
<div><strong>rankpercentage</strong>: <%=rankpercentage%></div>
<div><strong>ancient_ruins</strong>: <%=ancient_ruins%></div>
<div><strong>architectural_buildings</strong>: <%=architectural_buildings%></div>
<div><strong>arenas_stadiums</strong>: <%=arenas_stadiums%></div>
<div><strong>art_galleries</strong>: <%=art_galleries%></div>
<div><strong>art_museums</strong>: <%=art_museums%></div>
<div><strong>auto_race_tracks</strong>: <%=auto_race_tracks%></div>
<div><strong>ballets</strong>: <%=ballets%></div>
<div><strong>battlefields</strong>: <%=battlefields%></div>
<div><strong>biking_trails</strong>: <%=biking_trails%></div>
<div><strong>bodies_of_water</strong>: <%=bodies_of_water%></div>
<div><strong>bridges</strong>: <%=bridges%></div>
<div><strong>castles</strong>: <%=castles%></div>
<div><strong>cemeteries</strong>: <%=cemeteries%></div>
<div><strong>childrens_museums</strong>: <%=childrens_museums%></div>
<div><strong>city_tours</strong>: <%=city_tours%></div>
<div><strong>classes_workshops</strong>: <%=classes_workshops%></div>
<div><strong>coffeehouses</strong>: <%=coffeehouses%></div>
<div><strong>concerts_shows</strong>: <%=concerts_shows%></div>
<div><strong>cultural_tours</strong>: <%=cultural_tours%></div>
<div><strong>educational_sites</strong>: <%=educational_sites%></div>
<div><strong>factory_tours</strong>: <%=factory_tours%></div>
<div><strong>flea_street_markets</strong>: <%=flea_street_markets%></div>
<div><strong>food_drink</strong>: <%=food_drink%></div>
<div><strong>fun_games</strong>: <%=fun_games%></div>
<div><strong>gardens</strong>: <%=gardens%></div>
<div><strong>geologic_formations</strong>: <%=geologic_formations%></div>
<div><strong>gift_specialty_shops</strong>: <%=gift_specialty_shops%></div>
<div><strong>government_buildings</strong>: <%=government_buildings%></div>
<div><strong>historic_sites</strong>: <%=historic_sites%></div>
<div><strong>historic_walking_areas</strong>: <%=historic_walking_areas%></div>
<div><strong>historical_heritage_tours</strong>: <%=historical_heritage_tours%></div>
<div><strong>history_museums</strong>: <%=history_museums%></div>
<div><strong>islands</strong>: <%=islands%></div>
<div><strong>lessons_workshops</strong>: <%=lessons_workshops%></div>
<div><strong>libraries</strong>: <%=libraries%></div>
<div><strong>lighthouses</strong>: <%=lighthouses%></div>
<div><strong>literary_art_music_tours</strong>: <%=literary_art_music_tours%></div>
<div><strong>lookouts</strong>: <%=lookouts%></div>
<div><strong>military_bases_facilities</strong>: <%=military_bases_facilities%></div>
<div><strong>military_museums</strong>: <%=military_museums%></div>
<div><strong>mines</strong>: <%=mines%></div>
<div><strong>monuments_statues</strong>: <%=monuments_statues%></div>
<div><strong>movie_theaters</strong>: <%=movie_theaters%></div>
<div><strong>museums</strong>: <%=museums%></div>
<div><strong>national_parks</strong>: <%=national_parks%></div>
<div><strong>natural_history_museums</strong>: <%=natural_history_museums%></div>
<div><strong>nature_parks</strong>: <%=nature_parks%></div>
<div><strong>nature_wildlife_areas</strong>: <%=nature_wildlife_areas%></div>
<div><strong>neighborhoods</strong>: <%=neighborhoods%></div>
<div><strong>night_tours</strong>: <%=night_tours%></div>
<div><strong>nightlife</strong>: <%=nightlife%></div>
<div><strong>observation_decks_towers</strong>: <%=observation_decks_towers%></div>
<div><strong>observatories_planetariums</strong>: <%=observatories_planetariums%></div>
<div><strong>other_fun_games</strong>: <%=other_fun_games%></div>
<div><strong>other_outdoor_activities</strong>: <%=other_outdoor_activities%></div>
<div><strong>outdoor_activities</strong>: <%=outdoor_activities%></div>
<div><strong>piers_boardwalks</strong>: <%=piers_boardwalks%></div>
<div><strong>playgrounds</strong>: <%=playgrounds%></div>
<div><strong>points_of_interest_landmarks</strong>: <%=points_of_interest_landmarks%></div>
<div><strong>private_tours</strong>: <%=private_tours%></div>
<div><strong>sacred_religious_sites</strong>: <%=sacred_religious_sites%></div>
<div><strong>scenic_railroads</strong>: <%=scenic_railroads%></div>
<div><strong>scenic_walking_areas</strong>: <%=scenic_walking_areas%></div>
<div><strong>science_museums</strong>: <%=science_museums%></div>
<div><strong>selfguided_tours_rentals</strong>: <%=selfguided_tours_rentals%></div>
<div><strong>ships</strong>: <%=ships%></div>
<div><strong>shopping</strong>: <%=shopping%></div>
<div><strong>sights_landmarks</strong>: <%=sights_landmarks%></div>
<div><strong>specialty_museums</strong>: <%=specialty_museums%></div>
<div><strong>sports_complexes</strong>: <%=sports_complexes%></div>
<div><strong>state_parks</strong>: <%=state_parks%></div>
<div><strong>theaters</strong>: <%=theaters%></div>
<div><strong>tours</strong>: <%=tours%></div>
<div><strong>tramways</strong>: <%=tramways%></div>
<div><strong>transportation</strong>: <%=transportation%></div>
<div><strong>traveler_resources</strong>: <%=traveler_resources%></div>
<div><strong>valleys</strong>: <%=valleys%></div>
<div><strong>visitor_centers</strong>: <%=visitor_centers%></div>
<div><strong>volcanos</strong>: <%=volcanos%></div>
<div><strong>walking_tours</strong>: <%=walking_tours%></div>
<div><strong>wineries_vineyards</strong>: <%=wineries_vineyards%></div>
<div><strong>zipline_aerial_adventure_parks</strong>: <%=zipline_aerial_adventure_parks%></div>
<div><strong>zoos_aquariums</strong>: <%=zoos_aquariums%></div>
<div><strong>on_display</strong>: <%=on_display%></div>
<div><strong>gift_shop</strong>: <%=gift_shop%></div>
<div><strong>rainy_day</strong>: <%=rainy_day%></div>
<div><strong>couple_of_hours</strong>: <%=couple_of_hours%></div>
<div><strong>all_ages</strong>: <%=all_ages%></div>
<div><strong>special_exhibits</strong>: <%=special_exhibits%></div>
<div><strong>few_hours</strong>: <%=few_hours%></div>
<div><strong>two_hours</strong>: <%=two_hours%></div>
<div><strong>exhibits</strong>: <%=exhibits%></div>
<div><strong>well_worth_a_visit</strong>: <%=well_worth_a_visit%></div>
<div><strong>permanent_collection</strong>: <%=permanent_collection%></div>
<div><strong>worth_a_visit</strong>: <%=worth_a_visit%></div>
<div><strong>free_admission</strong>: <%=free_admission%></div>
<div><strong>audio_guide</strong>: <%=audio_guide%></div>
<div><strong>beautiful_building</strong>: <%=beautiful_building%></div>
<div><strong>great_collection</strong>: <%=great_collection%></div>
<div><strong>information</strong>: <%=information%></div>
<div><strong>interesting_exhibits</strong>: <%=interesting_exhibits%></div>
<div><strong>entrance_fee</strong>: <%=entrance_fee%></div>
<div><strong>great_for_kids</strong>: <%=great_for_kids%></div>
<div><strong>interactive_exhibits</strong>: <%=interactive_exhibits%></div>
<div><strong>hands_on_activities</strong>: <%=hands_on_activities%></div>
<div><strong>great_exhibits</strong>: <%=great_exhibits%></div>
<div><strong>great_place_to_visit</strong>: <%=great_place_to_visit%></div>
<div><strong>interactive_displays</strong>: <%=interactive_displays%></div>
<div><strong>guided_tour</strong>: <%=guided_tour%></div>
<div><strong>well_worth_the_visit</strong>: <%=well_worth_the_visit%></div>
<div><strong>whole_family</strong>: <%=whole_family%></div>
<div><strong>kids_and_adults</strong>: <%=kids_and_adults%></div>
<div><strong>traveling_exhibits</strong>: <%=traveling_exhibits%></div>
<div><strong>his_life</strong>: <%=his_life%></div>
<div><strong>local_history</strong>: <%=local_history%></div>
<div><strong>amazing_collection</strong>: <%=amazing_collection%></div>
<div><strong>free_entry</strong>: <%=free_entry%></div>
<div><strong>worth_the_trip</strong>: <%=worth_the_trip%></div>
<div><strong>great_history</strong>: <%=great_history%></div>
<div><strong>civil_war</strong>: <%=civil_war%></div>
<div><strong>take_your_time</strong>: <%=take_your_time%></div>
<div><strong>nice_collection</strong>: <%=nice_collection%></div>
<div><strong>interesting_place</strong>: <%=interesting_place%></div>
<div><strong>great_museum</strong>: <%=great_museum%></div>
<div><strong>for_sale</strong>: <%=for_sale%></div>
<div><strong>art_lovers</strong>: <%=art_lovers%></div>
<div><strong>artifacts</strong>: <%=artifacts%></div>
<div><strong>van_gogh</strong>: <%=van_gogh%></div>
<div><strong>audio_tour</strong>: <%=audio_tour%></div>
<div><strong>history</strong>: <%=history%></div>
<div><strong>galleries</strong>: <%=galleries%></div>
<div><strong>works_of_art</strong>: <%=works_of_art%></div>
<div><strong>natural_history</strong>: <%=natural_history%></div>
<div><strong>self_guided_tour</strong>: <%=self_guided_tour%></div>
<div><strong>private_collection</strong>: <%=private_collection%></div>
<div><strong>own_pace</strong>: <%=own_pace%></div>
<div><strong>sculpture_garden</strong>: <%=sculpture_garden%></div>
<div><strong>moving_experience</strong>: <%=moving_experience%></div>
<div><strong>three_hours</strong>: <%=three_hours%></div>
<div><strong>lots_of_history</strong>: <%=lots_of_history%></div>
<div><strong>modern_art</strong>: <%=modern_art%></div>
<div><strong>history_buff</strong>: <%=history_buff%></div>
<div><strong>admission</strong>: <%=admission%></div>
<div><strong>small_museum</strong>: <%=small_museum%></div>
<div><strong>step_back_in_time</strong>: <%=step_back_in_time%></div>
<div><strong>worth_a_stop</strong>: <%=worth_a_stop%></div>
<div><strong>short_film</strong>: <%=short_film%></div>
<div><strong>stuffed_animals</strong>: <%=stuffed_animals%></div>
<div><strong>walk_around</strong>: <%=walk_around%></div>
<div><strong>entry_fee</strong>: <%=entry_fee%></div>
<div><strong>great_displays</strong>: <%=great_displays%></div>
<div><strong>world_war</strong>: <%=world_war%></div>
<div><strong>scavenger_hunt</strong>: <%=scavenger_hunt%></div>
<div><strong>across_the_street</strong>: <%=across_the_street%></div>
<div><strong>museums2</strong>: <%=museums2%></div>
<div><strong>top_floor</strong>: <%=top_floor%></div>
<div><strong>a_lot_of_fun</strong>: <%=a_lot_of_fun%></div>
<div><strong>history_lesson</strong>: <%=history_lesson%></div>
<div><strong>large_collection</strong>: <%=large_collection%></div>
<div><strong>eye_opening</strong>: <%=eye_opening%></div>
<div><strong>american_history</strong>: <%=american_history%></div>
<div><strong>interesting_artifacts</strong>: <%=interesting_artifacts%></div>
<div><strong>early_days</strong>: <%=early_days%></div>
<div><strong>rotating_exhibits</strong>: <%=rotating_exhibits%></div>
<div><strong>extensive_collection</strong>: <%=extensive_collection%></div>
<div><strong>three_floors</strong>: <%=three_floors%></div>
<div><strong>we_spent_hours</strong>: <%=we_spent_hours%></div>
<div><strong>displays</strong>: <%=displays%></div>
<div><strong>changing_exhibits</strong>: <%=changing_exhibits%></div>
<div><strong>second_floor</strong>: <%=second_floor%></div>
<div><strong>collection</strong>: <%=collection%></div>
<div><strong>old_masters</strong>: <%=old_masters%></div>
<div><strong>great_place_to_learn</strong>: <%=great_place_to_learn%></div>
<div><strong>learn_something</strong>: <%=learn_something%></div>
<div><strong>special_exhibitions</strong>: <%=special_exhibitions%></div>
<div><strong>suggested_donation</strong>: <%=suggested_donation%></div>
<div><strong>old_west</strong>: <%=old_west%></div>
<div><strong>chronological_order</strong>: <%=chronological_order%></div>
<div><strong>enjoyed_our_visit</strong>: <%=enjoyed_our_visit%></div>
<div><strong>take_pictures</strong>: <%=take_pictures%></div>
<div><strong>third_floor</strong>: <%=third_floor%></div>
<div><strong>the_lower_level</strong>: <%=the_lower_level%></div>
<div><strong>life_size</strong>: <%=life_size%></div>
<div><strong>families_count</strong>: <%=families_count%></div>
<div><strong>couples_count</strong>: <%=couples_count%></div>
<div><strong>solo_count</strong>: <%=solo_count%></div>
<div><strong>business_count</strong>: <%=business_count%></div>
<div><strong>friends_count</strong>: <%=friends_count%></div>
<div><strong>preciserating</strong>: <%=preciserating%></div>
<div><strong>quote_pol_var</strong>: <%=quote_pol_var%></div>
<div><strong>quote_pol_mean</strong>: <%=quote_pol_mean%></div>
<div><strong>quote_pol_max</strong>: <%=quote_pol_max%></div>
<div><strong>quote_pol_min</strong>: <%=quote_pol_min%></div>
<div><strong>quote_sub_var</strong>: <%=quote_sub_var%></div>
<div><strong>quote_sub_mean</strong>: <%=quote_sub_mean%></div>
<div><strong>quote_sub_max</strong>: <%=quote_sub_max%></div>
<div><strong>quote_sub_min</strong>: <%=quote_sub_min%></div>
<div><strong>review_pol_var</strong>: <%=review_pol_var%></div>
<div><strong>review_pol_mean</strong>: <%=review_pol_mean%></div>
<div><strong>review_pol_max</strong>: <%=review_pol_max%></div>
<div><strong>review_pol_min</strong>: <%=review_pol_min%></div>
<div><strong>review_sub_var</strong>: <%=review_sub_var%></div>
<div><strong>review_sub_mean</strong>: <%=review_sub_mean%></div>
<div><strong>review_sub_max</strong>: <%=review_sub_max%></div>
<div><strong>review_sub_min</strong>: <%=review_sub_min%></div>
<div><strong>descri_pol</strong>: <%=descri_pol%></div>
<div><strong>descri_sub</strong>: <%=descri_sub%></div>

      
      <% if (reviews.length <= 1){%>
        <div><strong>Reviews: </strong>Sorry, no reviews available</div>
       <%}   
       else {%>
        <dl>
          <dt><strong>Reviews:</strong></dt>
            
            <ol>
              <% reviews.forEach(function(r) { %>           
                <li><%=r%></li>
              <% }) %>
            </ol>
        </dl>
       <%}%>      
      

      
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
